body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginShortCut {
    width: 20px;
    height: 20px;
}