body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #171717;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

main {
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 64px;
}

#moviePoster {
    filter: blur(20px);
}

iframe {
    pointer-events: none;
}

#Sidebar {
    position: absolute;
    left: 0;
    width: 30%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.wheel {
    background-image: url("../images/wheelplswosk.png");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(red 0deg 45deg,
            yellow 45deg 90deg,
            green 90deg 135deg,
            blue 135deg 180deg,
            purple 180deg 225deg,
            orange 225deg 270deg,
            pink 270deg 315deg,
            brown 315deg 360deg);
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    transform-origin: 100% 100%;
}

/* Add different styles or colors for each slice if needed */

button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

#pin {
    width: 30px;
    position: absolute;
    top: 150px;
    left: 495.5px;
    z-index: 1;
}