header>img {
    width: 256px;
    margin-top: 74px;
}

.loginRegisterInput {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    width: 256px;
}

.loginRegister {
    width: 256px;
    height: 50px;
    background-color: #FFF8BA;
    border-radius: 30px;
    margin-top: 95px;
    cursor: pointer;
    border: 0;

    color: var(--Colors-Button-Text, #323059);
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.LoginHeader {

    margin-top: 281px;

    margin-bottom: 0px;

    color: var(--Colors-Text-primary, #FFF);
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 400px;
}


span {
    color: #FF6868;
}

#loginShortCut {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 0px;

    color: var(--Colors-Text-primary, #FFF);
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#registerShortCut {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-top: 95px;
    margin-bottom: 0px;

    color: var(--Colors-Text-primary, #FFF);
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#registerHeader {
    margin-top: 288px;

    color: var(--Colors-Text-primary, #FFF);
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 400px;
}

.wheelClass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: absolute;
    width: 502px;
    height: 293px;
    background-color: #2B2A4C;
    color: white;
    border-radius: 20px;
    text-align: center;
}

#removePopUp {
    position: absolute;
    top: 10px;
    right: 15px;
}

.registerLoginPopup {
    width: 394px;
    height: 293px;
    display: flex;
    align-items: center;
    background-color: #2B2A4C;

    color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

#exitPopup {
    position: relative;
    bottom: -16px;
    left: 172px;
}


#registerFeedback {
    color: #FF6868;
    position: absolute;
    bottom: 205px;
}

#loginFeedback {
    color: #FF6868;
    position: absolute;
    bottom: 218px;
    left: 554px;
}

#h1RegisterFeedback {
    margin-bottom: 30px;
    margin-top: 50px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#registerBox {
    margin-top: 50px;
}