#settingsContainer {
    display: flex;
    color: white;
    width: 717px;
    height: 283px;
    justify-content: space-between;
    position: relative;
    top: 34px;

}

#leftSideBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
}

#seperator {
    width: 1px;
    height: 295px;
    background: var(--colors-search-background, rgba(103, 101, 159, 0.35));
}

#rightSideBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 30px;
}

.settingsDivs {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 292px;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
}

.settingsDivs>.middlediv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.settingsDivs>div>img {
    width: 24px;
    height: 24px;
}

.settingsDivs>div>p {
    margin: 0;
}

.settingsDivs2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 292px;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 4px;
}

.settingsDivs2>.middlediv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.settingsDivs2>div>p {
    margin: 0;
}

.settingsDivs2>div>img {
    margin-left: 3px;
    width: 17px;
    height: 17px;
}

.settingsDivs3 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 292px;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 2px;
}

.settingsDivs3>div>p {
    margin: 0;
}

.settingsDivs3>div>img {
    width: 15px;
    height: 15px;
    margin-left: 6px;
}

.settingsDivs3>.middlediv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chevron {
    height: 24px;
    width: 24px;
}

#settingsHeader {
    margin-bottom: 60px;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: -5px;
}

@media (max-width: 391px) {
    #settingsContainer {
        flex-direction: column;
        width: 292px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #seperator {
        width: 288px;
        border: 1px solid #333247;
        margin: 20px;
    }

    .settingsDivs2>div>img {
        margin-left: 0px;
    }
}