body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#SignIn {
    width: 200px;
    height: 30px;
    border: 1px solid black;
}

#SignUp {
    width: 200px;
    height: 30px;
    border: 1px solid black;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

#displaySearchedMovies {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.displayMovie {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}