@font-face {
    font-family: jost;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

body {

    font-family: jost;

}

.genreClass {
    border: 1px solid #8184F8;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    color: white;
}

#catergoryMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    color: white;

}

#catergoryMenu div {
    cursor: pointer;
}

#mixed {
    border: 1px solid #8184F8;
    margin: 10px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    width: 100%;
    cursor: pointer;
}

h1 {
    color: white;
}

#Continue {
    border: 1px solid #747474;
    color: #747474;
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.profile>img {
    width: 126px;
    position: absolute;
    right: 20px;

    cursor: pointer;
    top: 34px;
}

.selected {
    background-color: #8184F8;
}

#box {
    border: 3px solid #FFF8BA;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 87px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.questions {
    border-radius: var(--radius-radius-md, 20px);
    border: 1px solid var(--color-purple, #8184F8);
    color: white;
    padding: 5px;
    margin: 5px;
}

#questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#clue {
    background-image: url(../images/ClueTicket.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    width: 106px;
    height: 46px;
}

#fiftyfifty {
    background-image: url(../images/FiftTicket.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    width: 106px;
    height: 46px;
}

#cluesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 130px;
}

#SPTopDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contentWrapper.SPcwTypedirectors {
    height: 650px;
    width: 640px;
}

#contentWrapper.SPcwTypedirectors,
#contentWrapper.SPcwTypeactors,
#contentWrapper.SPcwTypeplot {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    position: relative;
}

.clCount {
    width: 20px;
    height: 20px;
    background-color: #2B2A4C;
    border: 1px solid #8184F8;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -5px;
    top: -6px;

    border-radius: 50%;

    color: white;

    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#clueFeedback {
    position: absolute;
    color: #FF6868;
    top: 118px;
    display: none;

    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#clueFeedback.active {
    display: block;
}

@media (max-width: 390px) {
    #cluesDiv {
        margin-top: 150px;
    }

    div#timer {
        width: 358px;
    }

    div#timerProgress {
        width: 358px;
    }

    div#poster {
        width: 255px;
        height: 350px;
    }

    div#videoContainer {
        width: 358px;
        height: 244px;
        grid-template-rows: 1.3fr 2.5fr 2.5fr 1.3fr;
    }

    div>iframe {
        width: 358px;
        height: 244px;
    }

    div#movieCoverUp {}

    div#movieCoverDown {}

    input#searchMovie {
        width: 360px;
        height: 50px;
    }
}