@font-face {
    font-family: jost;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

body {

    font-family: jost;


}

#categoryContainer {
    display: flex;
    width: 394px;
    align-items: center;
    align-content: center;
    gap: var(--Spacing-system-Spacing-20, 20px);
    flex-wrap: wrap;
}

#categoryWrapper {
    display: flex;
    width: 393px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-system-Spacing-52, 52px);
}

.genreClass {
    border: 1px solid #8184F8;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 118px;
    height: 48px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--Colors-Text-primary, #FFF);
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#catergoryMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    color: white;

}

#catergoryMenu div {
    cursor: pointer;
}

#mixed {
    width: 394px;
    height: 48px;
    flex-shrink: 0;

    border-radius: var(--Radius-Radius-md, 20px);
    border: 1px solid var(--Colors-Button-Border, #8184F8);
    color: var(--Colors-Text-primary, #FFF);
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#categoryWrapper>h1 {
    color: white;
    margin: 0;

    color: var(--Colors-Text-primary, #FFF);
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    width: 390px;
}

#Continue {
    border: 1px solid #747474;
    color: #747474;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.profile>img {
    width: 126px;
    position: absolute;
    right: 20px;

    cursor: pointer;
    top: 34px;
}

.selected {
    background-color: #8184F8;
}

#box {
    border: 3px solid #FFF8BA;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 87px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.questions {
    border-radius: var(--radius-radius-md, 20px);
    border: 1px solid var(--color-purple, #8184F8);
    color: white;
    padding: 5px;
    margin: 5px;
}

#questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#clue {
    background-image: url(../images/ClueTicket.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    width: 106px;
    height: 46px;
}

#fiftyfifty {
    background-image: url(../images/FiftTicket.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    width: 106px;
    height: 46px;
}

#cluesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#SPTopDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contentWrapper.SPcwTypedirectors {
    height: 650px;
    width: 640px;
}

#contentWrapper.SPcwTypedirectors,
#contentWrapper.SPcwTypeactors,
#contentWrapper.SPcwTypeplot {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    position: relative;
}

.clCount {
    width: 20px;
    height: 20px;
    background-color: #2B2A4C;
    border: 1px solid #8184F8;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -5px;
    top: -6px;

    border-radius: 50%;

    color: white;

    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#clueFeedback {
    position: absolute;
    color: #FF6868;
    top: 118px;
    display: none;

    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#clueFeedback.active {
    display: block;
}

@media (max-width: 390px) {
    #cluesDiv {
        margin-top: 50px;
    }

    div#timer {
        width: 358px;
    }

    div#timerProgress {
        width: 358px;
    }

    div#poster {
        width: 255px;
        height: 350px;
    }

    div#videoContainer {
        width: 358px;
        height: 244px;
        grid-template-rows: 1.3fr 2.5fr 2.5fr 1.3fr;
    }

    div>iframe {
        width: 358px;
        height: 244px;
    }

    div#movieCoverUp {}

    div#movieCoverDown {}

    input#searchMovie {
        width: 360px;
        height: 50px;
    }


    div#questionText.typedirectors,
    div#questionText.typeactors {
        width: 286px;
        font-size: 26px;
    }

    div#questionText.typeplot {
        width: 273px;
        font-size: 22px;
    }

    div.alternative {
        width: 360px;
        height: 50px;
    }

    #endGameSPButtons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: var(--Spacing-system-Spacing-20, 12px);
    }

    #exitGameSP,
    #playAgainSP {
        margin-top: 0px;
    }

    div.genreClass {
        width: 113px;
    }

    div#categoryContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--Spacing-system-Spacing-12, 12px);
        width: 366px;
    }

    div#mixed {
        width: 363px;
        height: 45px;
    }

    div#categoryWrapper {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--Spacing-system-Spacing-84, 84px);
        width: 366px;
    }

    div#catergoryMenu {
        gap: 15px var(--Spacing-system-Spacing-12, 12px);
        color: white;
    }

    div#addedUsers {
        display: grid;
        margin-top: 44px;
        gap: var(--Spacing-system-Spacing-20, 20px) 46px;
        height: 240px;
        width: 332px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    div.addedUserImage,
    div.friendDivImage {
        height: 50px;
        width: 50px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        border-radius: 50%;
    }

    div.removeAddedUser {
        top: -20px;
        right: 0px;
    }

    div#categoryWrapper>h1 {

        color: var(--Colors-Text-primary, #FFF);
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        width: 250px;
    }

    div#inviteFriendsWrapper {
        width: 332px;
    }

    div#inviteFriendsHeader {
        color: #FFF;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div#contentWrapper.lobbyWrapper {
        width: 323px;
    }

    div#lobbyMemberList {
        width: 322px;
    }

    div#lobbyInfo {
        width: 322px;
    }
}