.friendRequests {
    height: 5px;
    width: 200px;
}

#menu {
    display: flex;
    align-items: center;
}

#gameInvite {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main>img {
    width: 256px;
}

#message {
    color: white;
    text-align: center;
}
#message > span{
    color: #FF8484
}

#Multiplayer {
    background-color: #FFF8BA;
    color: #171717;
}

#Singelplayer {
    background-color: #FFF8BA;
    color: #171717;
}

#hamburgerMenu {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;

    position: absolute;
    left: 20px;
    top: 20px;

    cursor: pointer;
}

#hamburgerMenu>div {
    width: 100%;
    height: 3px;
    background-color: white;
}

#CloseSidebar {
    color: white;
    position: relative;
    left: 93px;
    top: -15px;
    cursor: pointer;
}

#Profile>h2 {
    color: #FFF8BA;
    margin: 0;
}

#home>p {
    margin: 0;
    color: white;
}

#home {
    display: flex;
    gap: 10px;
}

#home>img {
    width: 25px;
}

#profilePage>p {
    margin: 0;
    color: white;
}

#profilePage {
    display: flex;
    gap: 10px;
}

#profilePage>img {
    width: 25px;
}


#RenderLeaderboard>p {
    margin: 0;
    color: white;
}

#RenderLeaderboard {
    display: flex;
    gap: 10px;
}

#RenderLeaderboard>img {
    width: 25px;
}

#renderLyckyWheel>p {
    margin: 0;
    color: white;
}

#renderLyckyWheel {
    display: flex;
    gap: 10px;
}

#renderLyckyWheel>img {
    width: 25px;
}

#ProfilePicContainer {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#SidebarMenuContainer>p {
    color: red;
    margin: 0;
}

#SidebarMenuContainer>img {
    width: 25px;
}

#SidebarMenuContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 21px;
}

#renderSettings {
    display: flex;
    gap: 10px;
    margin-right: 45px;
}

#renderSettings>p {
    color: white;
    margin: 0;
}

#renderSettings>img {
    width: 25px;
}

#Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
}


#Overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #0d0d0d8f;
}

#displayProfilePic {
    background-color: #323059;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



#pointsInfo {
    color: white;
    text-align: center;
}

#profileImage {
    border-radius: 50%;
}

#levelBar {
    border: 2px solid #FF6868;
    border-radius: 20px;
    height: 8px;
    width: 300px;

}

#progressBar {
    background-color: #FF6868;
    border-radius: 20px;
    height: 8px;
}

#displayLevels {
    color: white;
    display: flex;
    justify-content: space-between;
}

#showlevel {
    color: white;
}


#progress {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: conic-gradient(#FFF8BA 3.6deg, #323059 0deg);

    display: flex;
    justify-content: center;
    align-items: center;
}
