.friendRequests {
    height: 5px;
    width: 200px;
}

#menu {
    display: flex;
    align-items: center;
}

#gameInvite {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main>img {
    width: 256px;
}

#message {
    color: #FF8484;
    text-align: center;
}

#Multiplayer {
    background-color: #FFF8BA;
    color: #171717;
}

#Singelplayer {
    background-color: #FFF8BA;
    color: #171717;
}

#hamburgerMenu {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;

    position: absolute;
    left: 20px;
    top: 20px;

    cursor: pointer;
}

#hamburgerMenu>div {
    width: 100%;
    height: 3px;
    background-color: white;
}